*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.card-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.about-img{
    height: 500px;

}