.App {
  text-align: center;
  /* background-image: linear-gradient(); */
  background: linear-gradient(#e66465, #9198e5);
}

.Navbar{
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  padding: 20px;
}