.navbar{
    display: inline;
    position:sticky;
}

.container-fluid{
    /* background: red; */
    position: flex;
    display: flex;
    /* border-bottom: 1px solid black; */
}

.navbar-nav{
   margin-left: 90vh;
}
.nav-item{
    padding:15px;
}